body {
    background-color: #141414;
    color: white;
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 5px;
}

.game-button {
    width: 100px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1em;
}

.game-button:hover {
    cursor: pointer;
}

.win-counter {
    display: flex;
    justify-content: space-evenly;
    width: 350px;
    font-size: 1.1em;
    margin-top: .75em;
}

#dialogue {
    font-size: 1.1em;
    margin-bottom: .75em;
}

.green {
    background-color: #2dad49;
    color: white;
}

.red {
    background-color: #c72f24;
    color: white;
}

.yellow {
    background-color: #dbcd32;
    color: white;
}